<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction Page</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="icon" type="image/x-icon" href="../images/Logo_PW.png">
</head>
<body>
  <%- include("../components/navbar.ejs") %>
  <section>
    <div class="navbar-space"></div>
    <div class="container-top">
      <div class="horizontal-grid">
        <div class="grid-object-s" style="width: 25%;">
          <div class="chat-box">
            <% for(let i = 0; i < auctionBiddings.length; i++) { %>
              <% const auctionbid = auctionBiddings[i]; %>
              <% const user = userbiddings[i]; %>
              <div class="chat-message">
                <span class="user"><%= user.UserName %>:</span>
                <span class="bid-value"><%= auctionbid.BiddingValue %>€</span>
              </div>
            <% } %>
          </div>          
        </div>
        <div class="grid-object-l" style="width: 74%;">
          <div class="container vertical-grid" style="width: 80%;">
            <div>
              <h1><%= auction.AuctionTittle %></h1>
            </div>
            <div>
              <h3 id="status" style="color: #339941;"><%= auction.Status %></h3>
            </div>
            <div class="horizontal-grid">
              <div class="left horizontal-grid">
                <p style="color: #f0bb28;">Latest bidding value:</p>
              </div>
              <div class="right horizontal-grid" style="color: #339941;">
                <p id="highestBid"><%= highestBid || auction.AuctionInitialValue %></p><p>€</p>
              </div>
            </div>
            <div class="horizontal-grid">
              <div class="left horizontal-grid">
                <p>Ending date:</p>
              </div>
              <div class="right horizontal-grid">
                <p id="EndDate"><%= auction.EndDate %></p>
              </div>
            </div>
            <form id="placebid">
              <div class="grid-object-m center">
                  <input placeholder="<%= highestBid || auction.AuctionInitialValue %>€" class="textbox" id="placebidtextbox" type="text" style="text-align: right;">
              </div>
              <span id="message"></span>
              <button class="button button-l" type="submit" id="auction-container" data-auction-id="<%= auctionid %>" data-user-id="<%= userid %>">Place bid</button>
            </form>  
          </div>
        </div>
      </div>
      <div class="grid-object-l">
        <h2>About</h2>
        <p><%= auction.Description%></p>
      </div>
    </div>
  </section>
  <footer>
    <script src="../scripts/auctionpage.js"></script>
  </footer>
</body>
</html>