<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discovery Auctions</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="icon" type="image/x-icon" href="../images/Logo_PW.png">
</head>
<body>
    <%- include("../components/navbar.ejs") %>
    <section>
        <div class="navbar-space"></div>
        <div class="container" style="width:50%; margin-top: 1rem; gap: 1rem;">
            <h1 id="games">Current Auctions</h1>
            <% for(let i = 0; i < auctions.length; i++) { %>
                <% const auction = auctions[i] %>
                <% const highestBid = highbid[i] %>
                <a href="/auction_page/<%= auction.AuctionID %>" style="width: 100%;">
                    <div class="container horizontal-grid grid-object-l" style="gap: 1rem;">
                        <div class="vertical-grid grid-object-m">
                            <h3><%= auction.AuctionTittle %></h3>
                            <div class="vertical-grid center" style="gap: 0rem">
                                <div class="horizontal-grid center">
                                    <p>Status: <%= auction.Status %></p>
                                </div>
                                <div class="horizontal-grid center">
                                    <% if (auction.Status == "Active") { %>
                                        <p>End Date: <%= auction.EndDate %></p>
                                    <% } %>
                                </div>
                            </div>
                            <div class="horizontal-grid center">
                                    <p style="color: #f0bb28;">Latest bidding value:</p>
                                    <h1>&nbsp;&nbsp;</h1>
                                    <p style="color: #339941;"><%= highestBid || auction.AuctionInitialValue %></p>
                                
                            </div>
                        </div>
                        <div class="vertical-grid left grid-object-m">
                            <p><%= auction.Description %></p>
                        </div>
                    </div>
                </a>
            <% } %>
        </div>
    </section>
    <footer>

    </footer>
</body>
</html> 